<h2>Artists</h2>

<% for (let artist of artists) { %>

    <div class="ui-card">
        <img src="<%= artist.artist_image_url">
        <section class="content">
            <h3><a href="/artists/<%= artist.id%>">
                <%= artist.firstname%> <%= artist.lastname %>
            </a></h3>
            <p>
                <%= artist.birthyear %> - <%= artist.deathyear %>
                <br>
                <%= artist.nationality %>
            </p>
        </section>

    </div>


<% } %>